<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<script type="text/javascript" src="../vue/js/vue.min.js"></script>
	</head>
	<body>
		<div id="root">
			<h1>人员列表</h1>
			<input type="text" v-model='keyword'>
			<ul>
				<li v-for='p in filPersons' :key='p.id'>
					{{p.name}}-{{p.age}}-{{p.sex}}
				</li>
			</ul>
		</div>
		<script>
			Vue.config.productionTip = false;
			
			const vm = new Vue({
				el: '#root',
				data: {
					keyword: '',
					persons: [
						{id: '1001', name: '张三', age: '18', sex: '男'},
						{id: '1002', name: '里斯', age: '19', sex: '男'},
						{id: '1003', name: '王五', age: '20', sex: '女'},
						{id: '1004', name: '赵六', age: '21', sex: '女'},
					],
					filPersons : []
				},
				watch: {
					keyword: {
						immediate: true,
						handler(value) {
							this.filPersons = this.persons.filter((p)=>{
								return p.name.indexOf(value) !== -1
							})
						}
					}
				}
			})
		</script>
	</body>
</html>